body {
  margin: 0;
  border-width: 0;
  text-align: center;
  font-family: 'Artifika', serif;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
  font-family: 'Bungee Shade', cursive;
}

h2 {
  font-size: 2.3rem;
  margin: 0;
  line-height: 100px;
}

hr {
  border-style: dotted none none none;
  border-color: #ffffff;
  border-width: 10px;
  width: 30%;
}

.topest {
  background-color: #c8e6f5;
  padding-top: 50px;
}

.top-container {
  background-color: #c8e6f5;
  padding-top: 30px;
}

.grass {
  background-color: #34ce34;
  height: 30px;
}

.middle-container {
  background-color: #e8ecd6;
}

p {
  font-size: 1.2rem;
  margin: 0;
  padding: 5px;
}

.p-top {
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
  font-size: 2rem;
  font-weight: bolder;
  line-height: 2;
  margin-bottom: 50px;
}

.pro {
  text-decoration: underline;
}

.profile {
  padding-top: 30px;
  padding-bottom: 20px;
}

.top-cloud {
  /*position: relative;*/
  /*left: 150px;*/
  top: 15px;
  left: 600px;
  position: absolute;
  -webkit-animation: linear infinite alternate;
  -webkit-animation-name: run1;
  -webkit-animation-duration: 50s;
  -moz-animation: linear infinite alternate;
  -moz-animation-name: run1;
  -moz-animation-duration: 50s;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
}

@-webkit-keyframes run1 {
  0% {
    left: 600px;
  }

  50% {
    left: 90%;
  }

  100% {
    left: 600px;
  }
}

.left-cloud {
  position: absolute;
  top: 250px;
  left: 100px;
  animation-delay: 5s;
  -webkit-animation: linear infinite alternate;
  -webkit-animation-name: run2;
  -webkit-animation-duration: 70s;
  -moz-animation: linear infinite alternate;
  -moz-animation-name: run2;
  -moz-animation-duration: 70s;
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
}

@-webkit-keyframes run2 {
  0% {
    left: 100px;
  }

  50% {
    left: 30%;
  }

  100% {
    left: 100px;
  }
}

.right-cloud {
  position: absolute;
  top: 350px;
  right: 100px;
  animation-delay: 7s;
  -webkit-animation: linear infinite alternate;
  -webkit-animation-name: run3;
  -webkit-animation-duration: 90s;
  -moz-animation: linear infinite alternate;
  -moz-animation-name: run3;
  -moz-animation-duration: 90s;
  -webkit-animation-delay: 9s;
  -moz-animation-delay: 9s;
}

@-webkit-keyframes run3 {
  0% {
    right: 100px;
  }

  50% {
    right: 50%;
  }

  100% {
    right: 100px;
  }
}

.back {
  vertical-align: bottom
}

.skill-row {
  width: 70%;
  margin: 20px auto 20px auto;
}

.info {
  text-align: left;
  border-spacing: 10px;
}

.coder {
  width: 100px;
}

.skils {
  text-align: center;
}

.love {
  color: red;
}

.lowest {
  margin: 0;
}

.bottom-container {
  background-color: #f1f1f1;
  color: #aaaaaa;
  font-size: 0.8rem;
}

.imprint {
  color: #aaaaaa;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0 50px 0 50px;
}

.imprint-link {
  color: #aaaaff;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 0 60px 0 60px;
}

.imprint-content {
  background-color: #e8ecd6;
  min-height: calc(100vh - 180px);
  line-height: 50px;
}

.thx {
  color: #aaaaff;
}

.home {
  color: #aaaaaa;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0 50px 0 50px;
}

.home-link {
  color: #aaaaff;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 0 50px 0 50px;
}

.space {
  background-color: #c8e6f5;
  height: 30px;
}

.social {
  color: #aaaaff;
  text-decoration: none;
  padding: 0 80px 0 80px;
  font-size: 0.8rem;
}

.btn {
  background-color: #e8ecd6;
  border: 2px solid #34ce34;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 20px;
}

.btn:hover {
  background-color: #34ce34;
  color: white;
}

a:active, a:focus {
  outline: 0;
  -moz-outline-style: none;
}
